<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Servlet0614</display-name>
 
  <servlet>
  	<servlet-name>Hello</servlet-name>
  	<servlet-class>com.taegyun.test.HelloController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Hello</servlet-name>
  	<url-pattern>/hello</url-pattern>
  </servlet-mapping>
 
  <!-- 예제 1번 url mapping -->
  	<servlet>
  		<servlet-name>ex01</servlet-name>
  		<servlet-class>com.taegyun.servlet.ex.ServletEx01Controller</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>ex01</servlet-name>
  		<url-pattern>/servlet/ex01</url-pattern>
  	</servlet-mapping>
 
 	<!-- 문제 1번 url mapping  -->
 	<servlet>
 		<servlet-name>test01</servlet-name>
 		<servlet-class>com.taegyun.servlet.test.ServletTest01Controller</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>test01</servlet-name>
 		<url-pattern>/servlet/test01</url-pattern>
 	</servlet-mapping>
 	
 	<!--문제 2번 url mapping -->
 	<servlet>
 		<servlet-name>test02</servlet-name>
 		<servlet-class>com.taegyun.servlet.test.ServletTest02Controller</servlet-class>
 	</servlet>
 	
 	<servlet-mapping>
 		<servlet-name>test02</servlet-name>
 		<url-pattern>/servlet/test02</url-pattern>
 	</servlet-mapping>
 	
 	
 	
</web-app>